body{
    font-family: 'Baloo Thambi 2', cursive;
    color: white;
}

.app{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.appWarm{
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2)),  url(above10.jpg); */
    background-image: linear-gradient(to right, rgba(168,62,50,0.4), rgba(168,148,48,0.4)),  url(summer.png);
    transition: .5s ease-in;
}

.appCold{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2)),  url(winter.png);
    transition: .5s ease-in;

}

.appHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.searchInput{
    height: 40px;
    width: 60%;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.searchButton{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 1em;
    background-color: white;
    font-size: 1.5rem;
    box-shadow: 1px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}

.appInfo{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.location{
    text-shadow: 2px 2px black;
}

.icon{
    margin-left: 10px;
    font-size: 3.5rem;
}

.weather{
    font-size: 3rem;
    margin: 0;

}

.temperature{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}